/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.text-light-nav {
    color: var(--light);
}   

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-container {
    filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.2));
}

.navbar-container-box {
    background: rgba(254,161,22,0.7);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

.custom-display {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2
}

@media (max-width: 1200px) {
    .custom-display {
        font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    }
}



/*** Hero Header ***/
.hero-header .container .row div div p {
    font-size: 21px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


@media (max-width: 990px) {
    .reverse-hero {
        flex-direction: column-reverse;
    }
}

/*** Events ***/
.event-card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.event-card .event-card-date {
    text-align: center;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}

.event-card .event-card-date span:nth-of-type(1) {
    font-size: 28px;
}

.event-card .event-card-content {
    border-left: 1px solid #3333;
    padding: 10px 0 0 20px;
}

.event-card .event-content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

@media (max-width: 990px) {
    .event-card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .event-card .event-card-date {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    .event-card .event-card-content {
        border-top: 1px solid #3333;
        border-left: unset;
        padding: 20px 0 0 0;
    }
}


.event-card .event-content .even-card-image {
    max-width: 300px;
}

.event-card .event-content .even-card-image span {
    font-size: 14px;
    display: flex;
    justify-content: end;
}

.event-card .event-content .event-card-desc .event-ticket-button {
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .event-card .event-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .event-card .event-content .even-card-image {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .event-card .event-content .even-card-image div {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
}

@media (max-width: 576px) {
    .event-card .event-content .even-card-image div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}


/*** Service ***/
.service-item {
    text-align: center;
    height: 100%;
}

.service-card-container {
    box-shadow: 0 0 5px rgba(216, 205, 205, 0.8);
    border-radius: 10px;
    height: 100%;
}
.service-card {
    padding: 0.5rem;
    text-align: center;
    background: white;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .service-card {
        border: unset;
    }
}

.service-card-company-container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.service-yard {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
}

.service-yard span {
    font-size: 24px;
    color: black;
    font-weight: 500;
    display: flex;
    margin-top: 7px;
    margin-left: 14px;
}

.service-room {
    width: 50px;
    height: 50px;
    clip-path: polygon(0% 0%, 0% 100%, 75% 100%, 75% 75%, 100% 75%, 100% 0%);
    background-color: var(--dark);
}

.service-room span {
    font-size: 24px;
    font-weight: 500;
    color: white;
    display: flex;
    margin-top: 7px;
    margin-left: 14px;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}